{% extends "base.html.twig" %}
{% block style %}<link href="css/main.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Ajout d'un cours {% endblock %}  

{% block contenu %}

    {% if form.valide is defined %}
        {% if form.valide == true %}
            <center>
                <br/><br/>
                <h1 class="h3 mb-3 font-weight-normal">Cours envoyée par : {{form.auteur}}</h1> 
                <h1 class="h3 mb-3 font-weight-normal">Voici le titre de votre cours : {{form.inputTitre}}</h1>
                <h1 class="h3 mb-3 font-weight-normal">Voici la date de publication du cours : {{form.dateajout|date("d/m/Y")}}</h1>
                <h1 class="h3 mb-3 font-weight-normal">Voici la difficulté du cours : {{form.ajoutdifficulte.libelle}} </h1>
                <h1 class="h3 mb-3 font-weight-normal"><a style="color:#F64747;" href="index.php?page=cours">Voir la liste des cours</a></h1>





<!--<h1 class="h3 mb-3 font-weight-normal">Voici votre/vos sous titre(s) : {% for ist in form.inputSousTitre %}{{ ist }}{% endfor %}</h1>-->
<!--<h1 class="h3 mb-3 font-weight-normal">Voici votre/vos contenu(s) : {% for ic in form.inputContenu %}{{ ic }}{% endfor %}</h1>-->
            </center>
        {% else %}
            <center>
                <h1 class="h3 mb-3 font-weight-normal">Echec de l'envoi</h1>
                <h1 class="h3 mb-3 font-weight-normal">Erreur : {{form.message}}</h1>
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=ajoutcours">Retourner sur la page d'ajout</a></h1>
            </center>
        {% endif %}

    {% else %} 

        <h1 class="h1 mb-3 font-weight-normal"> </h1>

        <center>
            <h2>Ajouter un cours</h2>

            <h3>Ajouter un cours via ce formulaire :</h3>

            <h1 class="h1 mb-3 font-weight-normal"> </h1> 

            <form class="form-signin" action="index.php?page=ajoutcours" method="post"
                  enctype="multipart/form-data">


                <label for="inputTitre" class="sr-only">Titre</label>
                <input type="text" id="inputTitre" name="inputTitre" class="form-control"
                       placeholder="Saisir le titre du cours" >

                <select name="difficultecours">
                    <option value="" disabled>Selectionner la difficulté du cours</option>
                    {% for c in form.difficulte %}
                        {% if c.id==form.difficulte.id %}
                            <option value="{{form.cours.libelledifficulte}}" selected>{{ c.libelle }}</option>
                        {% else %}
                            <option value="{{ c.id }}">{{ c.libelle }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <br/> 

                {% for i in 1..nb %}
                    <label for="inputSousTitre" class="sr-only">Sous titre</label>
                    <input type="text" id="inputSousTitre" name="inputSousTitre[]" class="form-control"
                           placeholder="Saisir un sous titre {{ i }}" >

                    <label for="inputContenu" class="sr-only">Contenu</label>
                    <textarea class="form-control" rows="10" name="inputContenu[]" id="inputContenu"
                              placeholder="Saisir le cours {{ i }}" ></textarea>
                    <br/>
                {% endfor %}


                <input type="hidden" name="idcours" value="{{ c.idcours }}"/>
                <input type="hidden" id="inputNbTitre" name="inputNbTitre" value="{{ nb }}" class="form-control">

                <button class="button special fit" type="submit" name="btAjoutSection" id="btAjoutSection">Ajouter section</button>
                <br/>
                <button class="button special fit" type="submit" name="btAjoutCours" id="btAjoutCours">Ajouter le cours</button>


            </form>

            <br/><br/><br/><br/>

        </center>


    {% endif %}
{% endblock %}
