{% extends "base.html.twig" %}
{% block style %}<link href="css/main.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Statistiques {% endblock %}

{% block contenu %}

    <div style="text-align: center">
        <h1 class="h1"> </h1>
        <h2>Connexions des utilisateurs du site :</h2>
        <h3 class="icon fa-chart-pie"> Veuillez recliquer après chaque changement.<br/><span class="icon fa-chart-pie"></span> Afficher un graphique par : </h3>

        <nav aria-label="navigation">
            <ul class="pager">
                <li id="btannee"><a title="Annee" >Année</a>     </li>
                <li id="btmois"><a title="Mois" >Mois</a>     </li>
                <li id="btjour"><a title="Jour" >Jour</a></li>
            </ul>
        </nav>
        <br/><br/>



<div class="container-fluid">
        <div class="row">

            <div class="col-lg-4 col-sm-12">
                <form style="width: 70%" class="form-signin" action="index.php?page=stats" method="post"
                      enctype="application/x-www-form-urlencoded">


                    <!-- DÉBUT DE Pour changer l'ANNEE :  -->


                    <div class="form-group" id="divselectannee"> <!-- Pour changer l'année de l'ANNEE -->
                        <h3 id="afficherannee">Le graphique représente l'année {{ form.afficherannee }}</h3>
                        <select class="form-control" id="selectannee">
                            <option value="" disabled="disabled" selected>Cliquez pour changer d'année</option>
                            {% for i in 2020..2022 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <div></div>
                    </div>

                    <!-- FIN DE Pour changer l'ANNEE -->


                    <!-- DÉBUT DE Pour changer le MOIS :  -->


                    <div class="form-group" id="divselectannee2"> <!-- Pour changer l'année du MOIS -->
                        <h3 id="affichermois">Le graphique représente le {{ form.affichermois }}e mois de l'an {{ form.afficherannee }} </h3>
                        <select class="form-control" id="selectannee2">
                            <option value="" disabled="disabled" selected>Changez l'année en premier</option>
                            {% for i in 2020..2022 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <div></div>
                    </div>



                    <div class="form-group" id="divselectmois"> <!-- Pour changer le mois du MOIS -->
                        <select class="form-control" id="selectmois">
                            <option value="" disabled="disabled" selected>Changez le mois ensuite</option>
                            <option value="1">Janvier</option>
                            <option value="2">Février</option>
                            <option value="3">Mars</option>
                            <option value="4">Avril</option>
                            <option value="5">Mai</option>
                            <option value="6">Juin</option>
                            <option value="7">Juillet</option>
                            <option value="8">Août</option>
                            <option value="9">Septembre</option>
                            <option value="10">Octobre</option>
                            <option value="11">Novembre</option>
                            <option value="12">Décembre</option>
                        </select>
                        <br/>
                    </div>


                    <!-- FIN DE Pour changer le MOIS -->


                    <!-- DÉBUT DE Pour changer le JOUR : -->


                    <div class="form-group" id="divselectannee3"> <!-- Pour changer l'année du JOUR -->
                        <h3 id="afficherjour">Le graphique représente le {{ form.afficherjour }}e jour du {{ form.affichermois }}e mois de l'an {{ form.afficherannee }} </h3>
                        <select class="form-control" id="selectannee3">
                            <option value="" disabled="disabled" selected>Changez l'année en premier</option>
                            {% for i in 2020..2022 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <div></div>
                    </div>

                    <div class="form-group" id="divselectmois1"> <!-- Pour changer le mois du JOUR -->
                        <select class="form-control" id="selectmois1">
                            <option value="" disabled="disabled" selected>Changez le mois ensuite</option>
                            <option value="1">Janvier</option>
                            <option value="2">Février</option>
                            <option value="3">Mars</option>
                            <option value="4">Avril</option>
                            <option value="5">Mai</option>
                            <option value="6">Juin</option>
                            <option value="7">Juillet</option>
                            <option value="8">Août</option>
                            <option value="9">Septembre</option>
                            <option value="10">Octobre</option>
                            <option value="11">Novembre</option>
                            <option value="12">Décembre</option>
                        </select>
                    </div>

                    <div class="form-group" id="divselectjour"> <!-- Pour changer le jour du JOUR -->
                        <select class="form-control" id="selectjour">
                            <option value="" disabled="disabled" selected>Changer le jour pour finir</option>
                            {% for i in 1..31 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <br/>
                    </div>

                </form>
            </div>


            <!-- FIN DE Pour changer le JOUR -->


            <!-- DÉBUT DE L'Affichage des graphiques : -->


            <!-- Graphique pour les années (voir les statistiques par mois de l'année X) -->
            

                <div class="col-lg-8 col-sm-12">

                    <div class="form-group" id="graph">

                        <img class="graph-arrondi" width=600 src="data:image/png;base64, {{ graph }}" alt="" />

                    </div>
 
                </div>


            <!-- Graphique pour les mois (voir les statistiques par jours du mois X) -->

                <div class="col-lg-8 col-sm-12">

                    <div class="form-group" id="graph2">
                        <img class="graph-arrondi" width=600 src="data:image/png;base64, {{ graph2 }}" alt="" />
                    </div>

                </div>


            <!-- Graphique pour les jours (voir les statistiques par heure du jour X, du mois X et de l'année X) -->

                <div class="col-lg-8 col-sm-12">

                    <div class="form-group" id="graph3">
                        <img class="graph-arrondi" width=600 src="data:image/png;base64, {{ graph3 }}" alt="" />
                    </div>

                </div>


            <!-- FIN DE L'Affichage des graphiques -->


        </div>
    </div>  
    </div>



    <br/><br/><br/><br/>



{% endblock %}    